.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px 0;
  background-color: var(--grey-500);
  border-top: 10px solid var(--red-400);

  &__social {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  &__routes {
    display: flex;
    gap: 80px;
    justify-content: center;
    flex-wrap: wrap;
    a {
      color: var(--grey-50);
      font-size: 16px;
      text-align: center;
      padding: 4px 0;
      transition: color 0.2s;
      &:hover {
        color: var(--red-400);
      }
    }
  }
}

@media (max-width: 900px) {
  .footer__routes {
    gap: 32px;
  }
}

@media (max-width: 600px) {
  .footer {
    gap: 12px;
    padding: 10px 0;
  }
  .footer__routes {
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  .footer__social {
    gap: 12px;
  }
}
