.header {
  padding: 15px 0;
  width: 100%;
  border-bottom: 2px solid var(--gray-200);
  background-color: var(--background-color);
  &__item__active {
    color: var(--primary-color) !important;
  }
  & .container-max {
    max-width: 1128px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h5 {
      color: var(--secondary-color);
      font-weight: 400;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
