<div class="product">
  <div class="product__image">
    <img [src]="product.miniatura" [alt]="product.nombre" />
  </div>
  <div class="product__details">
    <div class="product__header">
      <div class="product__info">
        <div class="product__category">{{product.tipo}}</div>
        <div class="product__name">{{product.nombre}}</div>
        <div class="product__brand">Marca: {{product.marca}}</div>
      </div>
      <div class="product__trash">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-trash2 h-4 w-4"
        >
          <path d="M3 6h18"></path>
          <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
          <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
          <line x1="10" x2="10" y1="11" y2="17"></line>
          <line x1="14" x2="14" y1="11" y2="17"></line>
        </svg>
      </div>
    </div>

    <div class="product__footer">
      <div class="product__price">S/. {{product.precio}}</div>
      <div class="product__quantity">
        <div class="product__quantity-label">Cantidad:</div>
        <div class="product__quantity-controls">
          <div class="product__quantity-button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-minus h-3 w-3"
            >
              <path d="M5 12h14"></path>
            </svg>
          </div>
          <input type="number" class="product__quantity-value" />
          <div class="product__quantity-button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-plus h-3 w-3"
            >
              <path d="M5 12h14"></path>
              <path d="M12 5v14"></path>
            </svg>
          </div>
        </div>
        <div class="product__quantity-stock">(Máx: {{product.stock}})</div>
      </div>
    </div>
    <div class="product__subtotal">
      Subtotal: S/. {{ product.precio||0 * 1 }}
    </div>
  </div>
</div>
