@if (product) {
<div class="product">
  <div class="product__image">
    <img [src]="product.miniatura" alt="" />
  </div>
  <div class="product__body">
    <div class="product__body__description">
      <div class="product__body__description__name">{{product.nombre}}</div>
      <div class="product__body__description__price">S/ {{product.precio}}</div>
    </div>
    <div
      [routerLink]="routes.products.detail(product.id)"
      class="product__body__more"
    >
      Ver más +
    </div>
  </div>
</div>
}
