<div class="home">
  <img
    class="home__banner"
    src="img/banner-motorcorp-1.png"
    alt="banner-home"
  />

  <div class="home__header">
    <h3>ELIGE TU MOTO</h3>
    <p>Elige entre nuestros diversos modelos</p>
  </div>

  <div class="list container-max">
    @for (product of randomProducts(); track $index) {
    <card-product [product]="product" />
    }
  </div>

  <div class="home__wrapper">
    <img
      class="home__banner__wrapper"
      src="img/banner-aboutus.png"
      alt="banner-about"
    />
    <div class="home__header__wrapper">
      <h3>SOBRE NOSOTROS</h3>
      <p>Somos la primera cadena de retail peruana especializada en motos</p>
    </div>
  </div>

  <div class="home__header">
    <h3>MARCAS EXCLUSIVAS</h3>
    <p>Somos distribuidores autorizados de estas marcas</p>
  </div>

  <div class="list container-max">
    @for (brand of brands; track $index) {
    <card-brand [brand]="brand" />
    }
  </div>
</div>
